img {
  border-radius: 7px;
  max-width: 75%;
  display: block;
  margin: auto;
}

#user-info-img {
  border-radius: 7px;
  max-width: 50%;
  display: block;
  margin: auto;
}

Grid {
  display: block;
  margin: auto;
}
